<ul id="basic-lab-actions">
    <li><a href="#" id="new-lab-btn">Create a New Lab</a></li>
    <li><a href="#" id="search-for-lab">Search a Lab</a></li>
    <li><a href="#" id="reload-lab">Reoad Labs</a></li>
</ul>
<table id="lab-list"></table>
<div id="lab-actions-template" style="display: none;">
    <ul class="lab-actions">
        <li class="glyphicon glyphicon-resize-full reschedule-lab"></li>
        <li class="glyphicon glyphicon-pencil edit-lab-attributes"></li>
        <li class="glyphicon glyphicon-user edit-lab-participant-list"></li>
        <li class="glyphicon glyphicon-refresh refresh-participant-table"></li>
        <li class="glyphicon glyphicon-trash delete-lab"></li>
    </ul>
</div>
<div id="participant-actions-template" style="display: none;">
    <ul class="participant-actions">
        <li class="glyphicon glyphicon-pencil"></li>
        <li class="glyphicon glyphicon-trash inactive-lab-action"></li>
    </ul>
</div>